::-moz-selection {
  background: #728AD9;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #728AD9;
  color: #fff;
  text-shadow: none;
}


a {
	color: #728AD9;
}

a:hover {
	color:#70D1F4;
}

footer .nav-list li a:hover,footer ul.regular li a:hover  {
	color:#70D1F4;
}

.btn-link:hover {
  color: #70D1F4;
}

.btn-color {
  background: #728AD9;
  *background: #728AD9;
}
.btn-color:hover,
.btn-color.active,
.btn-color.disabled,
.btn-color[disabled] {
  background: #70D1F4;
  *background: #70D1F4;
}

/* portfolio */
ul.filter li.active a{
    background: #728AD9;	
}

ul.filter li a:hover {
    color: #728AD9;
}

.portfolio-area li:hover .desc {
    background: #728AD9;	
}



/* fontawesome icons */
.icon-square:hover,
.icon-rounded:hover,
.icon-circled:hover {
    background-color: #728AD9;
}
[class^="icon-"].active,
[class*=" icon-"].active {
    background-color: #728AD9;
}

/* header */

.navbar .nav li.active a {
	color:#728AD9;	
}

.navbar .nav li ul.dropdown-menu li a:hover, .navbar .nav li.active ul.dropdown-menu li a:hover  {
	background:#70D1F4;
	
}
.color {
	background: #728AD9;
	color:#fff;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #728AD9;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

}

/* sequence slider */
.sequence-nav .next:hover,.sequence-nav .prev:hover {
	background: #728AD9;
}

/* breadcrumb */
.breadcrumb {

}


/* accordion */
.accordion-heading a:hover {
	color: #728AD9;
}
.accordion-heading .active{
	color: #728AD9;
}

/* pricing box */
.priceBox.special .emphasis {
  background: #728AD9;
}

/* tagline */
.tagline {
	border-bottom:5px solid #728AD9;
}


/* styled list */
ul.list.colored li:before {
	color: #728AD9;
}


/* button */
.btn-link {
	color: #728AD9;
}

.nav .dropdown-toggle .caret {
  margin-top: 6px;
  border-top-color: #728AD9;
  border-bottom-color: #728AD9;
}



/* tabs */
.tabbable .nav > li > a:hover,
.tabbable .nav > li > a:focus {
  	background-color: #728AD9;
}
.tabbable .nav-tabs > .active > a,
.tabbable .nav-tabs > .active > a:hover,
.tabbable .nav-tabs > .active > a:focus {
  	background-color: #728AD9;
}

/* accordion */
.accordion-heading:hover .accordion-toggle,
.accordion-heading:hover .accordion-toggle.inactive {
	background:#728AD9;
}
.accordion-heading .accordion-toggle.active {
	background:#728AD9;
}



/* label */
.label-orange,
.badge-orange {
  background-color: #728AD9;
}


/* nav */
.nav-list > .active > a,
.nav-list > .active > a:hover {
  background: #728AD9;
}


.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  background: #728AD9;
}

.nav .dropdown-toggle .caret {
  border-top-color: #728AD9;
  border-bottom-color: #728AD9;
}

/* custom progress bar according template skin */
.progress-orange .bar,
.progress .bar-orange {
  background: #728AD9;
}

.progress-orange.progress-striped .bar,
.progress-striped .bar-orange {
  background: #728AD9;
}

/* pagination */

.pagination ul li a:hover {
  background: #728AD9;
  border-color:#728AD9;
}


/* widget */
aside .widget ul.cat li a:hover {
	color: #728AD9;
}

aside .widget ul.recent-posts li a:hover {
	color: #728AD9;
}

aside .widget ul.tags li a {
  background: #728AD9;
}


/* article */

.entry-body a h5.title:hover {
	color: #728AD9;
}

article.blog-post .post-heading h3 a:hover {
	color:#728AD9;
}

article.last-post {
	background: #728AD9;
}

ul.time-post li.year{
	border-bottom:1px solid #728AD9;
}

 /* 404 */
 

.error-body{
	background:#728AD9;
	padding:20px;
	text-align:center;
}

/* footer */
footer .subfooter {
	border-top:5px solid #728AD9;
}

/* misc */
a.thumbnail:hover {
  border-color: #728AD9;
}

ul.filter li.active a:hover,.flex-control-nav li a:hover, .flex-control-nav li a.active{
	background: #728AD9;
}

.thumbnail h4 a:hover, .thumbnail .meta  span a:hover, ul.recent li h6 a:hover, ul.post-meta li a:hover, .media-body span, .media-body .media-heading a:hover, form label span, article.last-post h5 a:hover{
	color: #728AD9;
	text-decoration:none;
}